services:
  kero-voice:
    build: .
    container_name: kero-voice
    gpus: all
    volumes:
      - tts_cache:/root/.local/share/tts
      - uv_cache:/root/.cache/uv
      - venv_cache:/app/.venv
      - ./src:/app/src
    restart: always
    tty: true
    environment:
      - COQUI_TOS_AGREED=1

volumes:
  tts_cache:
  uv_cache:
  venv_cache:
