services:
  kero-voice:
    build: .
    container_name: kero-voice
    pid: host
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    volumes:
      - huggingface_cache:/root/.cache/huggingface
      - uv_cache:/root/.cache/uv
      - ./src:/app/src
    restart: always
    tty: true

volumes:
  huggingface_cache:
  uv_cache:
